* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: rgb(224, 221, 217);
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
header .logo {
    color: blue;
    font-size: 30px;
    font-weight: 900;
}
nav {
    display: flex;
    align-items: center;
}
header a {
    text-decoration: none;
    font-size: 25px;
    padding: 8px 30px;
}
.logo_detail {
    display: none ;
}
button {
    background-color: blue;
    color: aliceblue;
    padding: 8px 30px;
    border-radius: 10px;
    border: none;
}
button:hover {
    cursor: pointer;
}
@media (max-width: 768px) {
    .nav {
        display: none;
    }
    header {
        justify-content: space-between;
    }
    .logo_detail {
        display: inline-block;
    }
}